In [1]:
import pandas as pd
import numpy as np

In [9]:
with open(r'C:\Users\Carlos\A-TFM\BancoMundial_PIB.csv', encoding='utf-8') as f:
    lines = f.readlines()

# Imprimir las primeras líneas para inspección
for i, line in enumerate(lines[:10]):
    print(f"Línea {i}: {line}")

Línea 0: ﻿"Data Source","Indicadores del desarrollo mundial",

Línea 1:

Línea 2: "Last Updated Date","2025-07-01",

Línea 3:

Línea 4: "Country Name","Country Code","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","2021","2022","2023","2024",

Línea 5: "Aruba","ABW","PIB per cápita (US$ a precios actuales)","NY.GDP.PCAP.CD","","","","","","","","","","","","","","","","","","","","","","","","","","","6767.55922942669","8244.04566011433","10056.2613927414","11507.2171509849","12187.5363611898","13233.9905169683","13892.6051427736","14700.9598081521","16055.2877874337","16548.7173868987","16620.9545555513","17750.0095644198","18828.0870594071","19216.1972354472","20681.0230269625","20740.1325828172","21307.2482505267","21949.4859960868","23700.6319899197","24171.8371325422","24845.65848362","26736.3089444046","28171.9094008501","25134.7712303589","24093.1401510626","25712.3843015186","25119.6655449838","25813.5767274227","26129.8390617693","27458.2253310273","27441.5296617282","28440.051963759","30082.1276448186","31096.2050738676","22855.9323200761","27200.0610793969","30559.5335346581","33984.7906198041","",

Línea 6: "","AFE","PIB per cápita (US$ a precios actuales)","NY.GDP.PCAP.CD","186.121834666874","186.941781389892","197.402402426459","225.440493639993","208.999748076","226.876512633529","240.955232436321","243.817323446096","257.190081597614","281.629276716978","276.782059767758","294.866149448689","311.51901877983","389.796972143257","463.549790110905","479.162164741466","468.856330923431","518.450612880301","571.720267490217","634.561894108334","773.439454072262","777.833110434383","725.728116212689","732.588723549442","650.563519617381","554.439146516658","578.603956518682","665.119756482631","704.466221711","728.549336565123","822.79386754523","864.563865250914","733.243855634055","709.659254937363","701.041551520198","766.820590836759","747.069673916573","767.684192170293","697.352671611013","670.697829187975","707.120377674078","626.169149753934","625.998816166344","809.968140498029","981.744631574583","1115.71395657647","1220.00246913408","1362.31065164416","1421.11861281885","1386.59024970969","1601.72765054704","1735.58492331253","1702.9691001504","1673.22110186487","1656.16770915726","1479.61525980543","1329.80728479234","1520.21223076132","1538.90167917284","1493.81793829992","1344.10320999294","1522.3933455926","1628.31894446307","1568.15989105305","1673.84113878039",

Línea 7: "Afganistán","AFG","PIB per cápita (US$ a precios actuales)","NY.GDP.PCAP.CD","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","174.930991430166","138.706821676113","178.954088379235","198.871115728727","221.763653873013","254.184249149336","274.218553561575","376.223152003876","381.73323802844","452.053705477043","560.621505463146","606.694676337726","651.417134470046","637.087099117099","625.054941813938","565.569730408751","522.082215583898","525.469770891619","491.337221382603","496.6025042585","510.787063366811","356.496214115892","357.261152798144","413.757894705303","",

Línea 8: "","AFW","PIB per cápita (US$ a precios actuales)","NY.GDP.PCAP.CD","121.939925360065","127.454188774276","133.82704430968","139.008291347405","148.549378833398","155.565216180955","162.110767725028","144.943479575903","146.189166881183","161.921406587671","218.67629271063","195.862003677066","230.070787170051","280.649304214746","368.301914045369","413.371448166968","480.452655285577","490.847766531108","523.788096447283","624.878297351825","757.075555274744","1324.54658986636","1162.13067562725","872.832678467736","737.674887791653","753.799755384647","581.390712761563","581.523802444087","560.380581616462","509.326733627228","590.321434989055","603.878910231417","563.310079422004","570.888638172679","577.548739357662","863.950570572512","1065.68349929557","1088.99680508614","1137.74449616425","521.364734349786","516.932316255791","530.653167771193","616.796032637998","694.500937581338","840.252085094615","1001.60460688173","1236.62812739554","1407.64205786994","1668.84108160758","1454.72833143498","1663.96693663873","1844.1985949993","1941.36955612659","2131.66206746081","2221.01066549765","1860.72769393488","1630.03944681121","1574.23056047232","1720.14027955102","1798.34068458315","1680.03933212698","1765.9547879785","1796.66863273368","1599.39298291654","1284.15444092323",

Línea 9: "Angola","AGO","PIB per cápita (US$ a precios actuales)","NY.GDP.PCAP.CD","","","","","","","","","","","","","","","","","","","","","729.111965489822","657.982648547398","634.221467312782","636.83281102292","650.491094413218","772.468832586265","697.526602399253","770.10114008645","807.43962838624","907.747893072936","965.866840464665","881.919488130062","668.706017459877","449.727894936295","334.973590276074","404.29481849612","531.115366543271","521.70291489053","429.188126933192","392.725539027496","563.733795571487","533.586202412447","882.147847234303","992.698979254665","1266.21086410236","1916.46842218625","2617.05196022633","3141.0459797605","4103.0669003635","3136.64546955947","3597.34293216332","4615.91059831778","5086.02740086376","5057.74787833163","5005.9997412707","3213.90261080059","1807.95294072643","2437.25971190821","2538.59139143371","2189.85571407618","1449.92286669308","1925.87466082167","2929.69445467272","2309.53413042773","2122.08368991872",

In [10]:
# Encontrar la fila con los encabezados reales
for i, line in enumerate(lines):
    if 'Country Name' in line and 'Indicator Name' in line:
        header_index = i
        break

# Leer el archivo desde esa fila en adelante
df = pd.read_csv(r'C:\Users\Carlos\A-TFM\BancoMundial_PIB.csv', skiprows=header_index)

In [11]:
df.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69
0,Aruba,ABW,PIB per cápita (US$ a precios actuales),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,27441.529662,28440.051964,30082.127645,31096.205074,22855.932320,27200.061079,30559.533535,33984.790620,NaN,NaN
1,NaN,AFE,PIB per cápita (US$ a precios actuales),NY.GDP.PCAP.CD,186.121835,186.941781,197.402402,225.440494,208.999748,226.876513,...,1329.807285,1520.212231,1538.901679,1493.817938,1344.103210,1522.393346,1628.318944,1568.159891,1673.841139,NaN
2,Afganistán,AFG,PIB per cápita (US$ a precios actuales),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,522.082216,525.469771,491.337221,496.602504,510.787063,356.496214,357.261153,413.757895,NaN,NaN
3,NaN,AFW,PIB per cápita (US$ a precios actuales),NY.GDP.PCAP.CD,121.939925,127.454189,133.827044,139.008291,148.549379,155.565216,...,1630.039447,1574.230560,1720.140280,1798.340685,1680.039332,1765.954788,1796.668633,1599.392983,1284.154441,NaN
4,Angola,AGO,PIB per cápita (US$ a precios actuales),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1807.952941,2437.259712,2538.591391,2189.855714,1449.922867,1925.874661,2929.694455,2309.534130,2122.083690,NaN

In [12]:
columnas_a_eliminar = ['Indicator Name', 'Indicator Code'] + [str(año) for año in range(1960, 1970)]

df_limpio = df.drop(columns=columnas_a_eliminar)

In [13]:
df_limpio.head(5)

,Country Name,Country Code,1970,1971,1972,1973,1974,1975,1976,1977,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27441.529662,28440.051964,30082.127645,31096.205074,22855.932320,27200.061079,30559.533535,33984.790620,NaN,NaN
1,NaN,AFE,276.782060,294.866149,311.519019,389.796972,463.549790,479.162165,468.856331,518.450613,...,1329.807285,1520.212231,1538.901679,1493.817938,1344.103210,1522.393346,1628.318944,1568.159891,1673.841139,NaN
2,Afganistán,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,522.082216,525.469771,491.337221,496.602504,510.787063,356.496214,357.261153,413.757895,NaN,NaN
3,NaN,AFW,218.676293,195.862004,230.070787,280.649304,368.301914,413.371448,480.452655,490.847767,...,1630.039447,1574.230560,1720.140280,1798.340685,1680.039332,1765.954788,1796.668633,1599.392983,1284.154441,NaN
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1807.952941,2437.259712,2538.591391,2189.855714,1449.922867,1925.874661,2929.694455,2309.534130,2122.083690,NaN

In [15]:
columnas_a_eliminar2 = [str(año) for año in range(2022, 2025)]

if 'Unnamed: 69' in df_limpio.columns:
    columnas_a_eliminar2.append('Unnamed: 69')

df_limpio2 = df_limpio.drop(columns=columnas_a_eliminar2)

In [16]:
df_limpio2.head(5)

,Country Name,Country Code,1970,1971,1972,1973,1974,1975,1976,1977,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25119.665545,25813.576727,26129.839062,27458.225331,27441.529662,28440.051964,30082.127645,31096.205074,22855.932320,27200.061079
1,NaN,AFE,276.782060,294.866149,311.519019,389.796972,463.549790,479.162165,468.856331,518.450613,...,1702.969100,1673.221102,1656.167709,1479.615260,1329.807285,1520.212231,1538.901679,1493.817938,1344.103210,1522.393346
2,Afganistán,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,651.417134,637.087099,625.054942,565.569730,522.082216,525.469771,491.337221,496.602504,510.787063,356.496214
3,NaN,AFW,218.676293,195.862004,230.070787,280.649304,368.301914,413.371448,480.452655,490.847767,...,1941.369556,2131.662067,2221.010665,1860.727694,1630.039447,1574.230560,1720.140280,1798.340685,1680.039332,1765.954788
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5086.027401,5057.747878,5005.999741,3213.902611,1807.952941,2437.259712,2538.591391,2189.855714,1449.922867,1925.874661

In [18]:
df_limpio2.shape

(266, 54)

In [22]:
df_limpio2.columns = df_limpio2.columns.astype(str)

columnas_a_limpiar = [col for col in df_limpio2.columns if col.isdigit() and 1970 <= int(col) <= 2021]

for col in columnas_a_limpiar:
    df_limpio2[col] = (
        df_limpio2[col].astype(str)
        .str.replace('.', '', regex=False)
        .replace('nan', pd.NA)
        .astype('Int64')
    )

In [27]:
# Filtrar solo las columnas deseadas
df_filtrado = df_limpio2[['Country Name', 'Country Code', '2021']]
df_filtrado.head(5)

  Country Name Country Code             2021
0        Aruba          ABW  272000610793969
1          NaN          AFE   15223933455926
2   Afganistán          AFG  356496214115892
3          NaN          AFW   17659547879785
4       Angola          AGO  192587466082167

In [29]:
df_limpio2.isnull().mean() * 100

Country Name     0.751880
Country Code     0.000000
1970            28.571429
1971            28.195489
1972            28.195489
1973            28.195489
1974            28.195489
1975            26.691729
1976            26.691729
1977            25.563910
1978            25.939850
1979            25.563910
1980            21.804511
1981            21.804511
1982            21.428571
1983            21.428571
1984            20.676692
1985            19.924812
1986            19.924812
1987            17.293233
1988            16.165414
1989            16.165414
1990             9.774436
1991             9.398496
1992             9.022556
1993             8.646617
1994             8.270677
1995             7.142857
1996             7.142857
1997             6.390977
1998             6.015038
1999             6.015038
2000             5.263158
2001             4.887218
2002             3.383459
2003             3.383459
2004             3.383459
2005             3.383459
2006             3.007519
2007             3.007519
2008             2.631579
2009             1.879699
2010             1.879699
2011             1.503759
2012             2.255639
2013             2.255639
2014             1.879699
2015             2.631579
2016             3.007519
2017             3.007519
2018             3.007519
2019             2.631579
2020             3.007519
2021             3.007519
dtype: float64

In [33]:
df_limpio3 = df_filtrado.dropna()

In [34]:
df_limpio3.isnull().mean() * 100

Country Name    0.0
Country Code    0.0
2021            0.0
dtype: float64

In [36]:
df_limpio3.rename(columns={'Country Code': 'ISO'}, inplace=True)

C:\Users\Carlos\AppData\Local\Temp\ipykernel_17828\2467986417.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_limpio3.rename(columns={'Country Code': 'ISO'}, inplace=True)

In [38]:
df_limpio4 = df_limpio3.drop(columns=['Country Name'])

In [39]:
df_limpio4.rename(columns={'2021': 'PIB_2021'}, inplace=True)

In [40]:
df_limpio4.to_csv("PIB_2021.csv", index=False)